.favourite__main {
    max-width: 1200px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px 0;
    place-items: center;
}
.content-favourites{
    height: calc(100vh - 396px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}