.tsum {
    
    .banner {
        margin: 20px 0;
        width: 100%;
        height: 490px;
        background: url(../../../public//assets/img/home/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .banners__center {
        width: 100%;
        height: 490px;
    }
}