footer{
 background-color: #1b1b1b;
 width: 100%;
 height: 100%;
 box-sizing:border-box;
    h4{
        color: white;
        line-height: 1.5;
        font-size: 17px;
        letter-spacing: 1.2px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    li{
        display: flex;
        align-items: center;
        height: 36px;
        letter-spacing: normal;
        font-size: 13px;
        font-weight: normal;
        letter-spacing: .04em;
    }
}
.footer__content{
    width: 1200px;
    margin: 0 auto;
    padding-top: 16px;
    font-family: Geometria;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
}

.columsF{
display: grid ;
justify-content: space-between;
grid-template-columns: repeat(4, 1fr);    
}
.footerApp{
    display: flex;  
    gap: 12px;
    img{
        width: 90px;
        height: 24px;
    }
}


.footerDown{
    color: #fff;
    background-color: #1b1b1b;
    display: flex;
    padding: 12px 0;
    justify-content: center;
}
.footerDownContent{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    padding: 0 16px;
}
.footerDC{
    flex-grow: 5;
    width: 300px;
}
